{% extends 'movies/_base.html' %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Index</title>
    </head>
    <body>
        {% block content%}
        <h1>My Favorite Movies</h1>
        <h2>Salam. This is a test!</h2>
        {% if movies %}
            <ul>
                {% for movie in movies %}
                    <li>{{movie|title}}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No Favorite Movie</p>
        {% endif %}
        {% endblock %}
    </body>
</html>